<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Music App: Homepage</title>
</head>
<body>
    <h1>Welcome to all of music in one place!</h1>
    <div class="search-bar">
        <form th:action="@{/search}" method="get">
            <label>Search for a song: </label>
            <input type="text" name="query" id="query"
            placeholder="Input song title" required="required"/>
            <input type="submit"/>
        </form>
        <p th:text="${error}"></p>

    </div>
    <div class="random-picks">
        <h3>Five Random Artists!</h3>
        <ul>
            <li th:each="artist:${artists}">
                <p th:text="${artist}"></p>
            </li>
        </ul>
        <h3>Five Random Songs!</h3>
        <ul>
            <li th:each="song:${songs}">
                <p th:text="${song}"></p>
            </li>
        </ul>
        <h3>Five Random Playlists!</h3>
        <ul>
            <li th:each="playlist:${playlists}">
                <p th:text="${playlist}"></p>
            </li>
        </ul>
    </div>
</body>
</html>