<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="'Music App: Search Result for ' + ${searched}"></title>
</head>
<body>
    <div class="search-titles">
        <h1 th:text="'First search result for \'' + ${searched} + '\'!'"></h1>
    </div>
    <div class="songinfo">
        <h2 th:text="${song}" />
        <p th:text="'Songtitle is \'' + ${title} + '\'.'"></p>
        <p th:text="'Artist is ' + ${artist} + '.'"></p>
        <p th:text="'Album is titled \'' + ${album} + '\'.'"></p>
        <p th:text="'Genre is ' + ${genre} + '.'"></p>
    </div>
</body>
</html>